::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background:#888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: #13465e;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #555;
}